__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.DS_Store
.env
**/__pycache__/


**/*_wrapper.c
**/*.pyd
**/*.so
**/build/

**/V2_text_files/
**/container_pkl_files/*.pkl
database/